<!DOCTYPE html>
<html lang="en">

<head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="../../javascripts/checkDates.js"></script>
        <link rel="icon" type="image/png" href="../../images/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../../stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear nuevo proyecto</title>
</head>

<body>
    <div class="row mainContainer">
        <div class="col-sm-3 col-12"></div>
        <div class="col-sm-6 col-12 formContainer">
            
            <form class="formDiv" action="/projects/create" method="POST">
                <h3 class="claseParaRafa"><strong>Nuevo proyecto</strong></h3>
                <hr>
                <p> Nombre del proyecto</p>
                <input maxlength="45" class="form-control inputCreate" type="text" name="name" placeholder="Nombre del proyecto">
                <hr>
                <p>Descripción del proyecto</p>
                <textarea maxlength="500" class="form-control inputCreate" cols="30" rows="5" type="text" name="description"
                    placeholder="Descripción del proyecto"> </textarea>
                <hr>
                <p>Fecha de inicio</p>
                <input oninput="checkDates();" class="form-control inputCreate" id="date_start" type="date" name="date_start" placeholder="Fecha de inicio">

                <!-- <p>Fecha de finalización REAL</p>
                <input class="form-control inputCreate" type="date" name="date_end" placeholder="Fecha de finalización"> -->
                <p>Fecha de finalización prevista</p>
                <input oninput="checkDates();" class="form-control inputCreate" id="projected_end_date" type="date" name="projected_end_date"
                    placeholder="Fecha de finalización prevista">
                    <span class="warningDates" id="warningEnd"></span>
                <hr>
                <p>Presupuesto</p>
                <input maxlength="25" class="form-control inputCreate" type="number" name="budget" placeholder="Presupuesto">
                <hr>

                <button class="btn acceptButton " type="submit">Crear nuevo proyecto</button>
                
            </form>
            <a href="/projects" ><button class="btn  cancelButtonCreate">Cancelar</button> </a> 
        </div>
        <div class="col-3"></div>
    </div>



   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>